@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Source Code Pro;
}

h1,
h2,
h3,
h4 {
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    line-height: 1.2em;
    font-family: Abel;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.4em;
    font-size: 2rem;
}

h1 strong,
h2 strong,
h3 strong,
h4 strong {
    font-family: Abel;
}

.map {
    filter: brightness(100%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg);
    transition-duration: .5s;
}
